@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --rosa: #ff3e78;
  --black: #050505;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--black);
  color: white;
}
.logo-container {
  text-align: center;
}
main .logo {
  padding-top: 20px;
  width: 10rem;
  height: auto;
  margin: 0 auto;
}
main .nome {
  font-family: "Roboto", sans-serif;
  color: var(--rosa);
  font-size: 2.5rem;
  padding-bottom: 1em;
}

.cards-container {
  width: 100vw;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px;
}

.card {
  width: 150px;
  height: 200px;
  background-color: var(--rosa);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 20px;
}
.card h3 {
  text-align: center;
  padding-top: 10px;
  color: blue;
}

.card p {
  text-align: center;
  color: blueviolet;
  padding-top: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: var(--black);
  border-top: var(--rosa) solid 1px;
  border-bottom: var(--rosa) solid 1px;
}

/* Dispositivos Menores que 400px */
@media (max-width: 400px) {
  body {
    font-size: 14px;
    background-color: aquamarine;
  }
  footer {
    height: 20px;
    font-size: 12px;
  }
}
